@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";

:root {
  --background: #f1f1f1;
  --foreground: #171717;
  --primary: #9747FF;
  --secundary: #8A38F5;
  --neutral: #4A4949;
}

@theme inline {
  --color-primary: #9747FF;
  --color-secondary: #502588;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-orbitron: 'Orbitron', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222222;
    --foreground: #ededed;
    --background-list: #3b3b3b;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}